.disp-flex{
    display: flex;
  }
  
.space-between{
    justify-content: space-between;
  }

.align-items-center{
    align-items: center;
}

.justify-content-flex-end{
    justify-content: flex-end;
}
  
.width-100{
    width:100%;
  }
  
.flex-1{
    flex:1;
  }

.roboto-400-15px{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 15px;
}



  
